
/* STANDARD STYLES */

body {
	background: #e9e4de;
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: 'MuseoSlab500';
	src: url("../../../library/fonts/Museo_Slab_500-webfont.eot");
	src: url("../../../library/fonts/Museo_Slab_500-webfont.eot?#iefix") format("embedded-opentype"), url("../../../library/fonts/Museo_Slab_500-webfont.woff") format("woff"), url("../../../library/fonts/Museo_Slab_500-webfont.ttf") format("truetype"), url("../../../library/fonts/Museo_Slab_500-webfont.svg#MuseoSlab500Regular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSlab500';
	src: url("../../../library/fonts/Museo_Slab_500italic-webfont.eot");
	src: url("../../../library/fonts/Museo_Slab_500italic-webfont.eot?#iefix") format("embedded-opentype"), url("../../../library/fonts/Museo_Slab_500italic-webfont.woff") format("woff"), url("../../../library/fonts/Museo_Slab_500italic-webfont.ttf") format("truetype"), url("../../../library/fonts/Museo_Slab_500italic-webfont.svg#MuseoSlab500Italic") format("svg");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'MuseoSlab500';
	src: url("../../../library/fonts/Museo_Slab_500-webfont.eot");
	src: url("../../../library/fonts/Museo_Slab_500-webfont.eot?#iefix") format("embedded-opentype"), url("../../../library/fonts/Museo_Slab_500-webfont.woff") format("woff"), url("../../../library/fonts/Museo_Slab_500-webfont.ttf") format("truetype"), url("../../../library/fonts/Museo_Slab_500-webfont.svg#MuseoSlab500Regular") format("svg");
	font-weight: bold;
	font-style: normal;
}


.interactive-wrapper {
	width: 963px;
	overflow: hidden;
	position: relative;
	background: #fff;
	border-radius: 3px;
	border: 1px #d1cdc2 solid;
}


.instructions {
	color: #656565;
	float: right;
	width: 265px;
	font: normal 1em 'MuseoSlab500', Helvetica, Sans-serif;
}

.instructions h2 {
	padding: 20px 20px 15px;
	margin: 0 0 0.8em;
	border-bottom: 1px #d1cdc2 solid;
	font: normal 1em 'MuseoSlab500', Helvetica, Sans-serif;
}

.instructions div {
	padding: 0 20px;
}

.instructions p {
	font: normal 0.95em/1.5 'MuseoSlab500', Helvetica, Sans-serif;
	margin: 0 0 1.5em;
}



/* INTERACTIVE-SPECIFIC STYLES */

.interactive {
	background: #f4f0ed;
	padding: 0;
	list-style: none;
	width: 697px;
	height: 324px;
	float: left;
	border-right: 1px #d1cdc2 solid;
	overflow: hidden;
}

/* CONTROL BUTTONS */
.buttons {
	list-style: none;
	margin:0;
	padding:0;
}
.buttons a {
	border: 1px #ece8e3 solid;
	display: block;
	margin-top:10px;
	padding-left:49px;
	color: #666;
	text-decoration:none;
	border-radius:3px;
}
.buttons a span {
	display: block;
	background: #fff;
	padding:15px 10px;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: width .2s ease-in-out;
	-o-transition: width .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.buttons a:hover span {
	background:#f4f0ed;
}
.buttons a.record {
	background: #f17169 url('../images/controls.png') no-repeat 15px 0;
}
.buttons a.play {
	background: #6ac071 url('../images/controls.png') no-repeat 15px 50%;
}
.buttons a.reset {
	background: #57cbf5 url('../images/controls.png') no-repeat 15px 100%;
}

.buttons a.disabled {
	opacity: 0.5;
	cursor: default;
	background-color: #ece8e3;
	color: #d1cdc2;
}
.buttons a.disabled:hover span {
	background-color: #fff;
}


/* STATUS INDICATOR */
.status {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 10;
}
.status span {
	font: normal 0.7em/1 'MuseoSlab500', Helvetica, Sans-serif;
	text-transform: uppercase;
	display: block;
	background-color: rgba(255,255,255,0.5);
	background-repeat: no-repeat;
	background-position: 5px 50%;
	padding: 3px 10px 2px 20px;
	color: #656565;
}

.status .recording,
.status .playing {
	
}

.status .recording { background-image: url('../images/recording-indicator.gif'); }
.status .playing { background-image: url('../images/playing-indicator.gif'); }


/* CHARACTERS */
.interactive span { display: block; }
.eye, .tooth { width:7px; height:7px; position:absolute; border-radius:3px; background:#fff; }
.face, .head, .mouth, .body, .tache { position: absolute; overflow: hidden; }

.blaxton { top:43px; background:#f2665e; left:51px; height:324px; width:73px; position:absolute; border-radius: 40px 40px 0 0; }
.blaxton .face { width:23px; height:17px; top:18px; left:25px; }
.blaxton .eye { top: 0; }
.blaxton .eye-l { left: 0; }
.blaxton .eye-r { right: 0; }
.blaxton .tache { left: 2px; bottom:-10px; width:19px; height:19px; border-radius: 10px; background:#666; }

.eldric { top:43px; background:#fcb040; left:144px; height:324px; width:91px; position:absolute; border-radius: 46px 46px 0 0; }
.eldric .face { width:41px; height:41px; top:30px; left:25px; }
.eldric .sclera { position:absolute; width:41px; height:41px; top:-21px; left:0; background: #fff; border-radius:22px; }
.eldric .iris { position:absolute; width:19px; height:19px; top:-10px; left:11px; background: #666; border-radius:10px; }
.eldric .lips { position:absolute; left: 11px; bottom:0px; width:19px; height:19px; border-radius: 10px; background:#f2665e; }
.eldric .mouth { position:absolute; left: 16px; bottom:5px; width:9px; height:9px; border-radius: 5px; background:#666; }

.langworth { top:43px; background:#6ac071; left:254px; height:324px; width:79px; position:absolute; border-radius: 40px 40px 0 0; }
.langworth .face { width:23px; height:19px; top:20px; left:28px; z-index:2; }
.langworth .eye { top: 0; }
.langworth .eye-l { left: 0; }
.langworth .eye-r { right: 0; }
.langworth .tache { left: 2px; bottom:-10px; width:19px; height:19px; border-radius: 10px; background:#666; }
.langworth .tooth { top:35px; z-index:1; width: 6px; }
.langworth .tooth-l { left: 32px; }
.langworth .tooth-r { right: 32px; }

.oglesby { top:43px; background:#57cbf5; left:352px; height:324px; width:103px; position:absolute; border-radius: 55px 55px 0 0; }
.oglesby .face { width:51px; height:26px; top:22px; left:26px; }
.oglesby .eye { top: 0; }
.oglesby .eye-l { left: 14px; }
.oglesby .eye-r { right: 14px; }
.oglesby .mouth { background: #fff; width:49px; height: 11px; position:absolute; left:1px; bottom:0; }
.oglesby .jaw { width:70px; height: 11px; position:absolute; left:-5px; bottom:0; }
.oglesby .tooth { display: block; float:left; position:relative; }
.oglesby .toothy-gap { float:left; height: 1px solid; height:1.5px; width:70px; background: #666; }
.oglesby .upper-tooth { margin-left: 2px; margin-top: 1px; width: 0; height: 0; border-left: 3px solid transparent; border-right: 3px solid transparent; border-bottom: 3px solid #666; }
.oglesby .lower-tooth { margin-left: 2px; width: 0; height: 0; border-left: 3px solid transparent; border-right: 3px solid transparent; border-top: 3px solid #666; }

.harriet { top:43px; left:474px; height:324px; width:78px; position:absolute; }
.harriet .head { background: #f2665e; width: 78px; height: 76px; top:0; left:0; border-radius: 40px 40px 0 0; }
.harriet .face { background: #fcb040; width: 78px; height: 75px; top:0; left:0; border-radius: 40px; overflow: hidden; }
.harriet .hair { background: #f2665e; width: 50px; height: 50px; top:-24px; border-radius: 25px; position: absolute; }
.harriet .hair-l { left: -11px; }
.harriet .hair-r { right: -11px; }
.harriet .eye { top: 25px; }
.harriet .eye-l { left: 28px; }
.harriet .eye-r { right: 28px; }
.harriet .mouth { overflow: hidden; width:43px; height:16px; top:36px; left:18px; }
.harriet .mouth span { position:absolute; background:#fff; width:50px; height:50px; bottom:4px; left:-4px; border-radius: 25px; }
.harriet .body { background: #57cbf5; width: 76px; height: 249px; bottom:0; left:1px; border-radius: 40px 40px 0 0; }

.rumford { top:43px; left:570px; height:324px; width:80px; position:absolute; }
.rumford .head { background: #57cbf5; width: 80px; height: 80px; top:0; left:0; border-radius: 40px; overflow: hidden; }
.rumford .body { background: #6ac071; width: 57px; height: 244px; bottom:0; left:11px; border-radius: 40px 40px 0 0; }

.rumford .hair { background: #6ac071; width: 75px; height: 75px; top:-35px; border-radius: 40px; position: absolute; }
.rumford .hair-l { left: -50px; }
.rumford .hair-r { right: -20px; }
.rumford .eye { top: 42px; }
.rumford .eye-l { left: 24px; }
.rumford .eye-r { right: 24px; }
.rumford .mouth { overflow: hidden; width:45px; height:15px; top:57px; left:16px; }
.rumford .mouth span { position:absolute; background:#fff; width:46px; height:54px; bottom:1px; left:1px; border-radius: 21px; }
